$colour-russet: rgb(175, 67, 32);
$colour-amber: rgb(251, 168, 108);
$colour-cream: rgb(255, 226, 214);
$colour-grey-dark: rgb(52, 58, 64);
$font-size: 3vh;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; 
 }

html {
  min-height: 100vh;
  min-width: 100vw;
}
 
body {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
  background: linear-gradient(
    to right bottom,
    $colour-cream,
    darken($colour-cream, 10%)
  );
  color: $colour-grey-dark;
}

input, label, select {
  color: inherit;
  font-family: inherit;
  outline: none;
}
 
h1 {
  text-align: center;
  text-shadow: 1px 1px 1px $colour-grey-dark;
  font-family: 'Pacifico', Verdana, sans-serif;
}

.container {
  height: 100vh;
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.board {
  width: 100%;
  max-width: 394px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid $colour-grey-dark;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 15vh;

  .sqr {
    background-color: $colour-russet;
    border: 2px solid $colour-grey-dark;
    text-align: center;
    line-height: 14vh;
    font-size: 7vh;
    font-weight: bold;
    color: $colour-amber;

    // target IE10 & IE11 only
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      float: left;
      width: 33.3%;
      height: 15vh;
    }
    
    &:hover {
      background-color: darken($colour-russet, 10%);
    }
  }

  .clickable {
    cursor: pointer;
  }
}
 
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: $font-size;

  #select-identifier {
    width: 60px;
    margin-left: 5px;
    font-size: $font-size;
    cursor: pointer;
  }

  .play-btn {
    background-color: $colour-russet;
    color: $colour-amber;
    border: 1px solid $colour-grey-dark;
    margin-left: 5px;
    width: 75px;
    padding: 4px;
    font-size: $font-size;
    cursor: pointer;

    &:hover {
      background-color: darken($colour-russet, 10%);
      transform: scale(1.1);
    }
  }
}
 
.msg {
  font-weight: bold;
  font-size: $font-size;
  height: 3.5vh;
}
 