/* media query to make board fill more of a smaller screen? */


* {
 box-sizing: border-box;
}

/* try out @font-face rule {
} */
body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.board {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.sqr {
  float: left;
  width: 33%;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  font-size: 250%;
}

.bottomRow {
  margin-bottom: 20px;
}

.form-container {
  clear: left;
  width: 185px;
  margin: auto;
}

.select-identifier {
  width: 60px;
  font-size: 125%;
}

.play-btn {
  margin-left: 5px;
  width: 60px;
  font-size: 125%;
  border-radius: 10px;
}

.msg {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}
